<div class="cover-wrapper">
    <div class="cover" style="background-image: url('/public/images/item/item_cover.jpg');"></div>
    <div class="cover-profile">
        <div class="avatar">
            <img src="{{userData.avatarUrl}}" />
        </div>
        <div class="name">{{userData.totalPost}}</div>
    </div>
    <div class="statitics">
        <ul>
            <li>
                <a href="#">
                    <div class="number">{{userData.totalPost}}</div>
                    <div class="name">posts</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="number">{{userData.totalPhoto}}</div>
                    <div class="name">photos</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="number">{{userData.totalFollower}}</div>
                    <div class="name">follower</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="number">{{userData.totalFollowing}}</div>
                    <div class="name">following</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cover-menu">
        <ul class="menu">
            <li class="active" ng-click="redirectToProfilefunction('activity')"><a >Activities</a></li>
            <li ng-click="redirectToProfilefunction('loop')"><a>Loops</a></li>
            <li><a>About</a></li>
        </ul>
        <!--<a href="#" class="btn btn-followed">Followed</a>-->
    </div>
</div>