
    <div class="content-column-one ">
        <div class="cover-wrapper">
            <div class="cover" style="background-image: url('images/item/item_cover.jpg');"></div>
            <div class="cover-profile">
                <div class="avatar">
                    <img src="images/item/item_avatar.jpg" />
                </div>
                <div class="name-feed">
                    Youth Development <i class="fa fa-bell"></i>
                    <div class="user">
                        <i class="fa fa-users"></i> 2561
                    </div>
                </div>
            </div>

            <div class="cover-menu">
                <ul class="menu">
                    <li><a ng-click='gotoLoopNewfeed()'>Newsfeed</a></li>
                    <li><a ng-click='gotoLoopMedia()'>Media</a></li>
                    <li><a ng-click='gotoLoopSetting()'>Loop setting</a></li>
                </ul>
                <a href="#" class="btn btn-followed"><i class="fa fa-plus"></i> Joined</a>
            </div>
        </div>
        
         <div ui-view="loopcontent"></div>

    </div>

    <div class="content-column-two">
        <div class="title">Most Popular</div>
        <div class="list-card-sub-one">
            <div class="card-sub">
                <div class="img" style="background-image: url('images/item/item_demo.jpg')"></div>
                <div class="title">Street style lovers</div>
                <div class="description">Donec et ullamcorper ligula. Vestibulum ante ipsum primis</div>
            </div>
            <div class="card-sub">
                <div class="img" style="background-image: url('images/item/item_demo.jpg')"></div>
                <div class="title">Street style lovers</div>
                <div class="description">Donec et ullamcorper ligula. Vestibulum ante ipsum primis</div>
            </div>
            <div class="card-sub">
                <div class="img" style="background-image: url('images/item/item_demo.jpg')"></div>
                <div class="title">Street style lovers</div>
                <div class="description">Donec et ullamcorper ligula. Vestibulum ante ipsum primis</div>
            </div>
        </div>
    </div>

