
<div class="left-column">
    <div class="content">
        <div class="function-list">
            <div class="list-item">
                <div class="item-main">
                    <div class="title">My loops public </div>
                    <ul>
                        <li class="line" ng-repeat="loop in publicLoops">
                            <a>
                                <span class="icon"><i class="icon-x1-play"></i></span>
                                <span class="name">{{loop.name}}</span>
                                <span class="count">{{loop.notifCount}}</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="item-main">
                    <div class="title">My loops private</div>
                    <ul>
                        <li class="line" ng-repeat="loop in privateLoops">
                            <a>
                                <span class="icon"><i class="icon-x1-play"></i></span>
                                <span class="name">{{loop.name}}</span>
                                <span class="count">{{loop.notifCount}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-main">
                    <div class="title" ng-click="redirectProfile()">My profiles</div>
                    <ul>
                        <li class="line">
                            <a>
                                <span class="icon"><i class="icon-x1-play"></i></span>
                                <span class="name">Change profile pic</span>
                                <span class="count"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
