/* Account for fixed navbar */
body {
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 14px;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
    min-width: 1350px;
}

.lead {
    font-size: 16px;
}

.navbar-fixed-top {
    background-color: #0cc7c2;
    height: 57px;
    margin-bottom: 0;
    padding: 10px 0;
}

    .navbar-fixed-top .logo {
        margin-right: 40px;
    }

    .navbar-fixed-top .form-search .input-group {
        width: 490px;
    }

        .navbar-fixed-top .form-search .input-group .input-group-addon {
            width: 60px;
            color: #0cc7c2;
            background-color: #f5f5f5;
            font-size: 18px;
        }

    .navbar-fixed-top .explore,
    .navbar-fixed-top .post-something-link {
        margin-left: 40px;
        margin-top: 8px;
    }

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
}

    a:hover {
        text-decoration: none;
    }

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }

.row.gutter-3 {
    margin-right: -3px;
    margin-left: -3px;
}

    .row.gutter-3 > [class^="col-"],
    .row.gutter-3 > [class*=" col-"] {
        padding-right: 3px;
        padding-left: 3px;
    }

.row.gutter-5 {
    margin-right: -5px;
    margin-left: -5px;
}

    .row.gutter-5 > [class^="col-"],
    .row.gutter-5 > [class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }

.row.gutter-half-15 {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

    .row.gutter-half-15 > [class^="col-"],
    .row.gutter-half-15 > [class*=" col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

.modal-backdrop {
    bottom: 0;
    z-index: 1039;
    position: fixed;
}
/*Navbar*/

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
    width: 1350px;
    max-width: none !important;
}

/* Demonstrate the grids */
.col-xs-4 {
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */

.navbar-nav {
    float: left;
    margin: 0;
}

    .navbar-nav > li {
        float: left;
        position: relative;
    }

        .navbar-nav > li > a {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            height: 37px;
            line-height: 37px;
            color: #fff;
            position: relative;
        }

            .navbar-nav > li > a span.badge {
                position: absolute;
                top: 0;
                right: 5px;
                background-color: #e53935;
                color: #fff;
            }

        .navbar-nav > li:after {
            background: #0cc7c2;
            background: rgba(0, 0, 0, .1);
            content: '';
            height: 26px;
            left: 0px;
            position: absolute;
            top: 6px;
            width: 1px;
        }

        .navbar-nav > li:first-child:after,
        .navbar-nav > li:hover:after,
        .navbar-nav > li:hover:focus {
            width: 0px;
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus,
        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background: #0cc7c2;
            background: rgba(0, 0, 0, .1);
        }

        .navbar-nav > li > a.profile-nav img {
            margin-right: 5px;
        }


    /* Redeclare since we override the float above */
    .navbar-nav.navbar-right {
        float: right;
    }

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-top: 10px;
    min-width: 100%;
}

    .navbar .navbar-nav .open .dropdown-menu .fa-caret-up {
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: -20px;
        color: #fff;
    }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #0cc7c2 !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

.navbar .navbar-nav .open .dropdown-menu.notification-list {
    width: 520px;
    margin-top: 10px;
    padding: 0;
}

    .navbar .navbar-nav .open .dropdown-menu.notification-list .see-all {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        background-color: #f5f5f5;
        cursor: pointer;
    }

.notification-list .profile-avatar {
    padding: 8px 10px;
}

    .notification-list .profile-avatar .avartar {
        float: left;
    }

    .notification-list .profile-avatar .info {
        margin-left: 50px;
        padding-left: 10px;
        padding-top: 4px;
    }

.navbar .navbar-nav .open .dropdown-menu.notification-list li {
    border-bottom: 1px solid #e5e5e5;
}

    .navbar .navbar-nav .open .dropdown-menu.notification-list li:nth-child(odd) {
        background-color: #fff;
    }

    .navbar .navbar-nav .open .dropdown-menu.notification-list li:nth-child(even) {
        background-color: #f3fcfc;
    }

    .navbar .navbar-nav .open .dropdown-menu.notification-list li:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }

.notification-list .profile-avatar .info span.name {
    font-size: 16px;
}

.notification-list .profile-avatar .info span.time-created {
    font-size: 14px;
}

.notification-list .profile-avatar .info span {
    display: block;
}

    .notification-list .profile-avatar .info span.add-note {
        display: inline-block;
        color: #5d5d5d;
    }

.notification-list .profile-avatar a:hover {
    text-decoration: none;
}

.notification-list .profile-avatar .name a {
    margin-left: 5px;
    color: #5d5d5d;
    font-weight: bold;
}

.notification-list .profile-avatar .time-created a {
    margin-left: 5px;
    color: #bbbbbb;
}

/* Undo form expansion */
.navbar-form {
    float: left;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    /* Copy-pasted from forms.less since we mixin the .form-inline styles. */
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .form-control-static {
        display: inline-block;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

        .navbar-form .input-group .input-group-addon,
        .navbar-form .input-group .input-group-btn,
        .navbar-form .input-group .form-control {
            width: auto;
        }

        .navbar-form .input-group > .form-control {
            width: 100%;
        }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .navbar-form .radio label,
        .navbar-form .checkbox label {
            padding-left: 0;
        }

        .navbar-form .radio input[type="radio"],
        .navbar-form .checkbox input[type="checkbox"] {
            position: relative;
            margin-left: 0;
        }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

/* Undo inline form compaction on small screens */
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-inline .form-control-static {
    display: inline-block;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
        width: auto;
    }

    .form-inline .input-group > .form-control {
        width: 100%;
    }

.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0;
    }

    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }

.form-inline .has-feedback .form-control-feedback {
    top: 0;
}
/*Sprite Image*/
[class^="icon-x1"],
[class*="icon-x1"] {
    background-image: url(../../images/ic/ic_sprite_left_1.png);
    text-decoration: none;
    position: relative;
    top: 1px;
    display: inline-block;
    line-height: 1;
    vertical-align: top;
}

.icon-x1-play {
    width: 22px;
    height: 22px;
    background-position: 0px 0px;
}

.icon-x1-diagram {
    width: 22px;
    height: 22px;
    background-position: 0px -30px;
}

.icon-x1-fleg {
    width: 22px;
    height: 22px;
    background-position: 0px -60px;
}

.icon-x1-bus {
    width: 22px;
    height: 22px;
    background-position: 0px -90px;
}

.icon-x1-bag {
    width: 22px;
    height: 22px;
    background-position: 0px -120px;
}

/*Left Column*/
.left-column {
    width: 280px;
    float: left;
}

.function-list .list-item .title {
    color: #c6c6c6;
    text-transform: uppercase;
    padding: 15px 0 15px;
}

.function-list .list-item button.title {
    width: 100%;
  border: none;
  height: 30px;
  background-color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 25px;
  padding-top: 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.function-list ul li a {
    color: #5d5d5d;
    display: block;
    height: 24px;
    line-height: 24px;
}

    .function-list ul li a:hover {
        text-decoration: none;
        cursor: pointer;
    }

    .function-list ul li a span {
        display: inline-block;
    }

.function-list ul li {
    margin-bottom: 5px;
    position: relative;
    padding-right: 32px;
}

    .function-list ul li span.icon {
        min-width: 28px;
    }

    .function-list ul li span.count {
        position: absolute;
        right: 0;
    }
/*Main column*/
.main-column {
    margin-left: 280px;
    padding-left: 15px;
}

.content-column-one {
    width: 700px;
    float: left;
}

.cover-wrapper {
    width: 700px;
    margin-bottom: 15px;
    margin-top: -15px;
    position: relative;
}

    .cover-wrapper .cover {
        width: 100%;
        height: 226px;
    }

    .cover-wrapper .statitics {
        position: absolute;
        right: 0;
        width: 300px;
        bottom: 50px;
        height: 47px;
        font-size: 14px;
    }

        .cover-wrapper .statitics li {
            float: left;
            width: 25%;
            text-align: center;
            font-weight: bold;
        }

            .cover-wrapper .statitics li a:hover {
                color: #fff;
            }

    .cover-wrapper .cover-menu {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        padding-left: 185px;
    }

        .cover-wrapper .cover-menu li {
            float: left;
            height: 50px;
            position: relative;
        }

            .cover-wrapper .cover-menu li::after {
                background: #fff;
                background: rgba(0, 0, 0, .1);
                content: '';
                height: 30px;
                left: 0px;
                position: absolute;
                top: 10px;
                width: 1px;
            }

            .cover-wrapper .cover-menu li a {
                color: #bcbcbc;
                padding: 0 15px;
                height: 50px;
                line-height: 50px;
            }

        .cover-wrapper .cover-menu a.btn-followed {
            background-color: #0abbb5;
            color: #fff;
            min-width: 100px;
            float: right;
            margin-right: 8px;
            margin-top: 8px;
            font-weight: bold;
        }

    .cover-wrapper .cover-profile {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

        .cover-wrapper .cover-profile .avatar {
            float: left;
            background-color: #fff;
            border: 1px solid #5d5d5d;
            border-radius: 5px;
            padding: 5px;
        }

            .cover-wrapper .cover-profile .avatar .upload-avatar span {
                margin-left: 5px;
            }

            .cover-wrapper .cover-profile .avatar .upload-avatar {
                background: rgba(0, 0, 0, .8);
                color: #fff;
                padding: 10px;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: none;
            }

            .cover-wrapper .cover-profile .avatar:hover .upload-avatar {
                cursor: pointer;
                display: block;
            }

            .cover-wrapper .cover-profile .avatar img {
                width: 150px;
                height: 150px;
            }

        .cover-wrapper .cover-profile .name {
            position: absolute;
            left: 175px;
            color: #fff;
            font-size: 26px;
            width: 200px;
            bottom: 50px;
        }

        .cover-wrapper .cover-profile .name-feed {
            position: absolute;
            left: 175px;
            color: #fff;
            font-size: 26px;
            width: 300px;
            bottom: 50px;
        }

            .cover-wrapper .cover-profile .name-feed i.fa-bell {
                font-size: 24px;
            }

            .cover-wrapper .cover-profile .name-feed .user {
                font-size: 16px;
            }

            .cover-wrapper .cover-profile .name-feed .description {
                font-size: 14px;
                width: 400px;
                margin-top: 5px;
            }

.card-main {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

    .card-main .title-category {
        margin-bottom: 5px;
    }

        .card-main .title-category a {
            color: #0cc7c2;
        }

            .card-main .title-category a:hover {
                text-decoration: none;
            }

    .card-main .profile-avatar {
        margin-bottom: 10px;
    }

        .card-main .profile-avatar .avartar {
            float: left;
        }

        .card-main .profile-avatar .info {
            margin-left: 34px;
            padding-left: 5px;
        }

            .card-main .profile-avatar .info span {
                display: block;
            }

        .card-main .profile-avatar a:hover {
            text-decoration: none;
        }

        .card-main .profile-avatar .name a {
            margin-left: 5px;
            color: #5d5d5d;
            font-weight: bold;
        }

        .card-main .profile-avatar .time-created a {
            margin-left: 5px;
            color: #bbbbbb;
        }

    .card-main .summary .title {
        font-size: 16px;
        font-weight: bold;
        color: #5d5d5d;
        margin-bottom: 5px;
    }

    .card-main .summary .description {
        color: #a2a2a2;
        margin-bottom: 5px;
    }

        .card-main .summary .description .img {
            margin-left: -5px;
            margin-right: -5px;
        }

        .card-main .summary .description img {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;
            float: left;
        }

    .card-main .footer {
        height: 24px;
        line-height: 24px;
        color: #c3c3c3;
    }

        .card-main .footer.post-something-on-page {
            height: 24px;
            line-height: 24px;
            color: #c3c3c3;
            border-top: 1px solid #bbbbbb;
            padding-top: 10px;
        }

            .card-main .footer.post-something-on-page .btn {
                min-width: 100px;
            }

            .card-main .footer.post-something-on-page .btn-cancel {
                background-color: #bbbbbb;
                color: #fff;
            }

            .card-main .footer.post-something-on-page .btn-post {
                background-color: #0abbb5;
                color: #fff;
            }

        .card-main .footer span {
            display: inline-block;
            height: 24px;
        }

            .card-main .footer span.icon {
                margin-right: 5px;
            }

        .card-main .footer .totlal-likes {
            margin-right: 25px;
        }

        .card-main .footer .dots {
            font-size: 18px;
            padding-top: 4px;
        }

    .card-main .enter-comments {
        margin-top: 10px;
        /*border-top: 1px solid #e5e5e5;*/
        padding: 10px 0;
    }

    .card-main .list-post-comment li {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .card-main .enter-comments.no-border {
        margin-top: 0;
        border: none;
        padding: 0;
    }

    .card-main .enter-comments .form-group {
        margin-bottom: 10px;
    }

    .card-main .checkbox-inline {
        display: inline-block;
        cursor: pointer;
    }



    .card-main .list-image ul {
        margin-left: -5px;
        margin-right: -5px;
    }

    .card-main .list-image li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        min-height: 130px;
        min-width: 130px;
        border-radius: 5px;
        position: relative;
    }

        .card-main .list-image li:hover {
            opacity: 0.7;
        }

            .card-main .list-image li:hover .fa-remove {
                display: block;
            }

        .card-main .list-image li .fa-remove:hover {
            cursor: pointer;
        }

        .card-main .list-image li .fa-remove {
            right: 10px;
            top: 5px;
            z-index: 1;
            position: absolute;
            color: #fff;
            font-size: 18px;
            display: none;
        }

        .card-main .list-image li img {
            border-radius: 5px;
            width: 130px;
        }

        .card-main .list-image li:last-child div {
            border: 1px dashed #bbbbbb;
            min-height: 130px;
            min-width: 130px;
            border-radius: 5px;
            position: relative;
        }

            .card-main .list-image li:last-child div:hover {
                cursor: pointer;
            }

            .card-main .list-image li:last-child div i {
                position: absolute;
                font-size: 32px;
                color: #bdbdbd;
                left: 50%;
                margin-left: -16px;
                margin-top: -16px;
                top: 50%;
            }



.content-column-two {
    margin-left: 700px;
    padding-left: 15px;
}

    .content-column-two .title {
        color: #c6c6c6;
        text-transform: uppercase;
        padding: 15px 0 15px;
    }

.content-column-one .list-card-sub-one {
}

.list-card-explore .card-sub {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.list-card-explore .img {
    width: 190px;
    height: 190px;
    margin: auto;
    border-radius: 50%;
    background-position: top center;
    margin-bottom: 15px;
}

.list-card-explore .title {
   font-size: 16px;
  font-weight: bold;
  color: #5d5d5d;
  padding: 0;
  margin-bottom: 5px;
  height: 20px;
  overflow-y: hidden;
}

.list-card-explore .description {
  height: 20px;
  overflow-y: hidden;
}

.list-card-explore .group-button .btn-join {
    background-color: #0abbb5;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
    min-width: 100px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

    .list-card-explore .group-button .btn-join i {
        margin-right: 5px;
    }

.list-card-sub-one .card-sub {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

    .list-card-sub-one .card-sub .img {
        width: 240px;
        height: 240px;
        margin: auto;
        border-radius: 50%;
        background-position: top center;
        margin-bottom: 15px;
    }

    .list-card-sub-one .card-sub .title {
        font-size: 16px;
        font-weight: bold;
        color: #5d5d5d;
        padding: 0;
        margin-bottom: 5px;
    }

    .list-card-sub-one .card-sub .description {
        color: #bdbdbd;
        padding: 0 15px;
    }

/*Post*/
.list-post .post {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    margin-top: 10px;
}

    .list-post .post:first-child {
        border-top: 0px;
        padding-top: 0px;
        margin-top: 0px;
    }

.list-card-sub-two .card-sub {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
}


    .list-card-sub-two .card-sub .title {
        font-size: 18px;
        font-weight: bold;
        color: #5d5d5d;
        margin-bottom: 5px;
        padding: 0;
    }

    .list-card-sub-two .card-sub .description {
        font-size: 16px;
        color: #bdbdbd;
    }

/*Profile*/

/*--- Login ---*/
.container-login {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: url(../../../public/images/bg/bg_signup.jpg);
    background-size: cover;
}

    .container-login .img-bg {
        width: 1320px;
    }

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

    .icon-addon:after,
    .icon-addon:before {
        display: table;
        content: " ";
    }

    .icon-addon:after {
        clear: both;
    }

    .icon-addon .glyphicon,
    .icon-addon .fa {
        position: absolute;
        z-index: 2;
        left: 10px;
        font-size: 14px;
        width: 20px;
        margin-left: -2.5px;
        text-align: center;
        padding: 10px 0;
        top: 1px;
    }

    .icon-addon.addon-lg .form-control {
        line-height: 1.33;
        height: 60px;
        font-size: 18px;
        padding: 10px 16px 10px 40px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

        .icon-addon.addon-lg .form-control:focus {
            box-shadow: none;
        }

    .icon-addon.addon-lg .fa,
    .icon-addon.addon-lg .glyphicon {
        font-size: 18px;
        margin-left: 0;
        left: 11px;
        top: 9px;
    }

.content-login {
    position: absolute;
    width: 460px;
    top: 100px;
    margin-left: -230px;
    background-color: #fff;
    border-radius: 5px;
    left: 50%;
}

    .content-login .content-signup,
    .content-login .content-signin {
        padding: 0 15px;
    }

    .content-login .form-group {
        margin-bottom: 0;
    }

    .content-login .form-group-signin-link {
        text-align: center;
        margin-bottom: 15px;
    }

        .content-login .form-group-signin-link a {
            color: #b3b3b3;
            text-transform: uppercase;
            text-decoration: underline;
        }

.form-group-button {
    text-align: center;
}

    .form-group-button .btn-signup {
        background-color: #0abbb5;
        color: #fff;
        height: 50px;
        min-width: 180px;
        font-weight: bold;
        font-size: 16px;
        margin: 20px auto;
    }

.facbook-login .btn-facebook {
    background-color: #2691ce;
    color: #fff;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    padding: 0 20px;
    width: 100%;
    margin: 20px auto;
    line-height: 50px;
}

.line-or {
    border-bottom: 1px solid #efefef;
    position: relative;
}

    .line-or span {
        position: absolute;
        color: #bebebe;
        left: 50%;
        bottom: -10px;
        margin-left: -15px;
        width: 30px;
        background-color: #fff;
        display: block;
        text-align: center;
        z-index: 1;
        font-size: 16px;
    }

.content-login .form-group-link {
    padding: 15px 0 0;
}

.form-group-link a {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

.form-group-link .forgot-password {
    float: left;
}

.form-group-link .sign-up-with-email {
    float: right;
    text-transform: uppercase;
    text-decoration: underline;
}
/*--- #Login--*/
/*--- InviteFriend---*/
.invite-friends-list {
    width: 100%;
    padding: 0;
}



    .invite-friends-list .profile-avatar {
        padding: 8px 10px;
        position: relative;
    }

        .invite-friends-list .profile-avatar .avartar {
            float: left;
            position: relative;
        }

        .invite-friends-list .profile-avatar .info {
            margin-left: 50px;
            padding-left: 10px;
            padding-top: 4px;
        }

    .invite-friends-list li {
        border-bottom: 1px solid #e5e5e5;
    }



    .invite-friends-list .profile-avatar .info span.name {
        font-size: 16px;
    }

    .invite-friends-list .profile-avatar .info span.description {
        font-size: 14px;
    }

        .invite-friends-list .profile-avatar .info span.description a {
            color: #878787;
        }

    .invite-friends-list .profile-avatar .info span {
        display: block;
    }

        .invite-friends-list .profile-avatar .info span.company {
            display: inline-block;
            color: #bbbbbb;
        }

    .invite-friends-list .profile-avatar a:hover {
        text-decoration: none;
    }

    .invite-friends-list .profile-avatar .name a {
        margin-left: 5px;
        color: #5d5d5d;
        font-weight: bold;
    }

    .invite-friends-list .profile-avatar .description a {
        margin-left: 5px;
        color: #bbbbbb;
    }

    .invite-friends-list .profile-avatar .profile-button {
        position: absolute;
        right: 5px;
        top: 17px;
    }

        .invite-friends-list .profile-avatar .profile-button .btn {
            min-width: 110px;
            text-align: left;
            padding-top: 3px;
            padding-bottom: 3px;
        }

            .invite-friends-list .profile-avatar .profile-button .btn i {
                margin-right: 5px;
                width: 12px;
            }

        .invite-friends-list .profile-avatar .profile-button .btn-follow {
            background-color: #bbbbbb;
        }

        .invite-friends-list .profile-avatar .profile-button .btn-following {
            background-color: #0abbb5;
        }

.content-invite-friend {
    position: relative;
}

    .content-invite-friend .top-invite {
        width: 100%;
        background-color: #0abbb5;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

        .content-invite-friend .top-invite a {
            display: block;
            float: left;
            width: 20%;
            font-size: 18px;
        }

            .content-invite-friend .top-invite a:first-child {
                text-align: left;
                padding-left: 15px;
            }

            .content-invite-friend .top-invite a:last-child {
                text-align: right;
                padding-right: 15px;
            }

        .content-invite-friend .top-invite .title {
            font-size: 22px;
            color: #fff;
            width: 60%;
        }

    .content-invite-friend .invite-friends-list {
        padding: 0 15px;
    }

.invite-friends-list .bottom-invite {
    text-align: center;
    margin: 15px 40px;
}

    .invite-friends-list .bottom-invite .btn-invite {
        background-color: #0abbb5;
        color: #fff;
        width: 100%;
        height: 50px;
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 50px;
    }

.invite-friends-list .follow-all {
    text-align: right;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

    .invite-friends-list .follow-all a {
        color: #0abbb5;
        font-size: 16px;
    }

.invite-friends-list ul {
    max-height: 400px;
    overflow-y: auto;
}
/*---#InviteFriend ----*/
/*--- Search ---*/
.nav-search {
    background-color: #fff;
    border: 1px solid #d8dfe2;
    border-radius: 5px;
}

    .nav-search ul {
    }

        .nav-search ul li {
            display: inline-block;
            padding: 10px 20px 0;
            position: relative;
        }

            .nav-search ul li:first-child:after {
                width: 0;
            }

            .nav-search ul li:after {
                background: #0cc7c2;
                background: rgba(0, 0, 0, .1);
                content: '';
                height: 26px;
                left: 0px;
                position: absolute;
                top: 6px;
                width: 1px;
            }

            .nav-search ul li a {
                color: #bcbcbc;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
            }

            .nav-search ul li.active a {
                border-bottom: 3px solid #0cc7c2;
                display: block;
                height: 30px;
            }

.result-search-list {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
    background-color: #fff;
    position: relative;
    border: 1px solid #dee2e3;
    border-bottom: 0;
}

    .result-search-list .see-all {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        background-color: #f5f5f5;
        cursor: pointer;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -40px;
        border: 1px solid #dee2e3;
    }

    .result-search-list .profile-avatar {
        padding: 8px 10px;
        padding-left: 0;
    }

        .result-search-list .profile-avatar .avartar {
            float: left;
        }

        .result-search-list .profile-avatar .info {
            margin-left: 50px;
            padding-left: 10px;
            padding-top: 4px;
        }

    .result-search-list li {
        border-bottom: 1px solid #e5e5e5;
    }

        .result-search-list li:hover {
            cursor: pointer;
        }

    .result-search-list .profile-avatar .info span.name {
        font-size: 16px;
    }

    .result-search-list .profile-avatar .info span.sub-description {
        font-size: 14px;
        color: #c3c3c3;
    }

    .result-search-list .profile-avatar .info span {
        display: block;
    }

        .result-search-list .profile-avatar .info span.add-note {
            display: inline-block;
            color: #5d5d5d;
        }

    .result-search-list .profile-avatar a:hover {
        text-decoration: none;
    }

    .result-search-list .profile-avatar .name a {
        margin-left: 5px;
        color: #5d5d5d;
        font-weight: bold;
    }

    .result-search-list .profile-avatar .sub-description a {
        margin-left: 5px;
        color: #bbbbbb;
    }
/*--- #Search---*/
/*---Loop Media---*/

.list-card-media .card-sub {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #bbbbbb;
    height: 270px;
}

    .list-card-media .card-sub.create-album {
        border: 1px dashed #bbb;
        padding-top: 90px;
    }

        .list-card-media .card-sub.create-album:hover {
            cursor: pointer;
        }

        .list-card-media .card-sub.create-album i {
            display: block;
            font-size: 40px;
            color: #5d5d5d;
        }

        .list-card-media .card-sub.create-album .label {
            display: block;
            color: #5d5d5d;
            font-size: 20px;
        }

.list-card-media .img {
    width: 100%;
    height: 210px;
    margin: auto;
    background-position: top center;
    margin-bottom: 5px;
}

.list-card-media .title {
    font-size: 16px;
    font-weight: bold;
    color: #5d5d5d;
    text-align: left;
    margin-bottom: 5px;
    padding: 0 10px;
}

.list-card-media .description {
    color: #bdbdbd;
    padding: 0 10px;
    margin-bottom: 5px;
}


.content-create-album {
    position: relative;
}

    .content-create-album .top-create {
        width: 100%;
        background-color: #0abbb5;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 5px 5px 0 0;
    }

        .content-create-album .top-create a {
            display: block;
            float: left;
            width: 20%;
            font-size: 18px;
        }

            .content-create-album .top-create a:first-child {
                text-align: left;
                padding-left: 15px;
            }

            .content-create-album .top-create a:last-child {
                text-align: right;
                padding-right: 15px;
            }

        .content-create-album .top-create .title {
            font-size: 22px;
            color: #fff;
            width: 60%;
        }

    .content-create-album .invite-friends-list {
        padding: 0 15px;
    }

    .content-create-album form .form-group {
        margin-bottom: 0;
    }

        .content-create-album form .form-group input {
            height: 50px;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid #bbbbbb;
        }

    .content-create-album form .form-preview {
        height: 150px;
    }

    .content-create-album .bottom {
        margin: 20px 100px;
    }

    .content-create-album .btn-create {
        background-color: #0abbb5;
        color: #fff;
        width: 100%;
        height: 50px;
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 50px;
    }

        .content-create-album .btn-create i {
            margin-right: 5px;
        }



.list-view-album .card-sub {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #bbbbbb;
}

.list-view-album .img {
    width: 100%;
    height: 210px;
    margin: auto;
    background-position: top center;
}

.list-view-album .title {
    font-size: 16px;
    font-weight: bold;
    color: #5d5d5d;
    text-align: left;
    margin-bottom: 5px;
    padding: 0 10px;
}

.list-view-album .description {
    color: #bdbdbd;
    padding: 0 10px;
    margin-bottom: 5px;
}

.summary-view-album {
    position: relative;
    color: #bcbcbc;
    padding-right: 140px;
    margin-bottom: 10px;
}

    .summary-view-album .btn-contribute {
        background-color: #0abbb5;
        color: #fff;
        min-width: 100px;
        float: right;
        font-weight: bold;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .summary-view-album .title {
        font-weight: bold;
    }

    .summary-view-album .create-by {
        font-size: 12px;
    }

        .summary-view-album .create-by span {
            margin-right: 15px;
        }
/*---#Loop Media---*/

.content-post-something {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

    .content-post-something .title-category {
        margin-bottom: 5px;
    }

        .content-post-something .title-category a {
            color: #0cc7c2;
        }

            .content-post-something .title-category a:hover {
                text-decoration: none;
            }

    .content-post-something .profile-avatar {
        margin-bottom: 10px;
    }

        .content-post-something .profile-avatar .avartar {
            float: left;
        }

        .content-post-something .profile-avatar .info {
            margin-left: 34px;
            padding-left: 5px;
        }

            .content-post-something .profile-avatar .info span {
                display: block;
            }

        .content-post-something .profile-avatar a:hover {
            text-decoration: none;
        }

        .content-post-something .profile-avatar .name a {
            margin-left: 5px;
            color: #5d5d5d;
            font-weight: bold;
        }

        .content-post-something .profile-avatar .time-created a {
            margin-left: 5px;
            color: #bbbbbb;
        }

    .content-post-something .summary .title {
        font-size: 16px;
        font-weight: bold;
        color: #5d5d5d;
        margin-bottom: 5px;
    }

    .content-post-something .summary .description {
        color: #a2a2a2;
        margin-bottom: 5px;
    }

        .content-post-something .summary .description .img {
            margin-left: -5px;
            margin-right: -5px;
        }

        .content-post-something .summary .description img {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;
            float: left;
        }

    .content-post-something .footer {
        height: 24px;
        line-height: 24px;
        color: #c3c3c3;
        border-top: 1px solid #bbbbbb;
        padding-top: 10px;
    }

        .content-post-something .footer span {
            display: inline-block;
            height: 24px;
        }

            .content-post-something .footer span.icon {
                margin-right: 5px;
            }

        .content-post-something .footer .totlal-likes {
            margin-right: 25px;
        }

        .content-post-something .footer .dots {
            font-size: 18px;
            padding-top: 4px;
        }

        .content-post-something .footer .btn {
            min-width: 100px;
        }

        .content-post-something .footer .btn-cancel {
            background-color: #bbbbbb;
            color: #fff;
        }

        .content-post-something .footer .btn-post {
            background-color: #0abbb5;
            color: #fff;
        }

    .content-post-something .enter-comments {
        margin-top: 10px;
        /*border-top: 1px solid #e5e5e5;*/
        padding: 10px 0;
    }

    .content-post-something .list-post-comment li {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .content-post-something .enter-comments.no-border {
        margin-top: 0;
        border: none;
        padding: 0;
    }

    .content-post-something .enter-comments .form-group {
        margin-bottom: 10px;
    }

    .content-post-something .checkbox-inline {
        display: inline-block;
        cursor: pointer;
    }

    .content-post-something .post-st-option {
        right: 10px;
        position: absolute;
        top: 35px;
    }

        .content-post-something .post-st-option .title {
            margin-right: 5px;
        }

        .content-post-something .post-st-option > a {
            color: #0abbb5;
            font-weight: bold;
        }

    .content-post-something .dropdown-menu {
        right: 0;
        left: auto;
    }

    .content-post-something .list-image ul {
        margin-left: -5px;
        margin-right: -5px;
    }

    .content-post-something .list-image li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        min-height: 130px;
        min-width: 130px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 10px
    }

        .content-post-something .list-image li div:hover {
            opacity: 0.7;
        }

            .content-post-something .list-image li:hover .fa-remove {
                display: block;
            }

        .content-post-something .list-image li .fa-remove:hover {
            cursor: pointer;
        }

        .content-post-something .list-image li .fa-remove {
            right: 10px;
            top: 5px;
            z-index: 1;
            position: absolute;
            color: #fff;
            font-size: 18px;
            display: none;
        }

        .content-post-something .list-image li img {
            border-radius: 5px;
            width: 130px;
        }

        .content-post-something .list-image li:last-child div {
            border: 1px dashed #bbbbbb;
            min-height: 130px;
            min-width: 130px;
            border-radius: 5px;
            position: relative;
        }

            .content-post-something .list-image li:last-child div:hover {
                cursor: pointer;
            }

            .content-post-something .list-image li:last-child div i {
                position: absolute;
                font-size: 32px;
                color: #bdbdbd;
                left: 50%;
                margin-left: -16px;
                margin-top: -16px;
                top: 50%;
            }
/*---Notification---*/

.result-notification-list {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
    background-color: #fff;
    position: relative;
    border: 1px solid #dee2e3;
    border-bottom: 0;
}

    .result-notification-list .see-all {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        background-color: #f5f5f5;
        cursor: pointer;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -40px;
        border: 1px solid #dee2e3;
    }

    .result-notification-list .profile-avatar {
        padding: 8px 10px;
        padding-left: 0;
    }

        .result-notification-list .profile-avatar .avartar {
            float: left;
        }

        .result-notification-list .profile-avatar .info {
            margin-left: 50px;
            padding-left: 10px;
            padding-top: 4px;
        }

    .result-notification-list li {
        border-bottom: 1px solid #e5e5e5;
    }

        .result-notification-list li:hover {
            cursor: pointer;
        }

    .result-notification-list .profile-avatar .info span.name {
        font-size: 16px;
    }

    .result-notification-list .profile-avatar .info span.sub-description {
        font-size: 14px;
        color: #c3c3c3;
    }

    .result-notification-list .profile-avatar .info span {
        display: block;
    }

        .result-notification-list .profile-avatar .info span.add-note {
            display: inline-block;
            color: #5d5d5d;
        }

    .result-notification-list .profile-avatar a:hover {
        text-decoration: none;
    }

    .result-notification-list .profile-avatar .name a {
        margin-left: 5px;
        color: #5d5d5d;
        font-weight: bold;
    }

    .result-notification-list .profile-avatar .sub-description a {
        margin-left: 5px;
        color: #bbbbbb;
    }
/*---#Notification#---*/

/*Dialog*/
/*modalCreateAlbumSecond*/
#modalCreateAlbumSecond .modal-dialog {
    width: 1100px;
}

#modalCreateAlbumSecond .pp-right-col .list-card-media {
    padding: 30px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

    #modalCreateAlbumSecond .pp-right-col .list-card-media .title {
        color: #bbbbbb;
        font-weight: normal;
        font-size: 14px;
    }

    #modalCreateAlbumSecond .pp-right-col .list-card-media .card-sub {
        border: 1px solid rgba(0, 0, 0, .1);
    }

        #modalCreateAlbumSecond .pp-right-col .list-card-media .card-sub.create-album {
            border: 1px dashed rgba(0, 0, 0, .1);
        }

#modalCreateAlbumSecond .pp-left-col .title {
    font-size: 18px;
    font-weight: bold;
    color: #5d5d5d;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#modalCreateAlbumSecond .pp-left-col .description {
    color: #bbbbbb;
    padding: 10px;
}

#modalViewPhoto .modal-dialog {
    width: 1000px;
}

#modalViewPhoto .pp-left-col {
    text-align: center;
    background-color: #000;
    position: relative;
}

    #modalViewPhoto .pp-left-col .main-img {
        min-height: 500px;
        max-height: 600px;
        text-align: center;
        margin: 0 auto;
    }

    #modalViewPhoto .pp-left-col .bottom {
        position: absolute;
        background: rgba(0, 0, 0, .5);
        bottom: 0;
        color: #fff;
        left: 0;
        right: 0;
        text-align: left;
        padding: 15px;
    }

        #modalViewPhoto .pp-left-col .bottom .top-content {
            border-bottom: 1px solid #fff;
            padding-bottom: 8px;
        }

        #modalViewPhoto .pp-left-col .bottom .bottom-content {
            padding-top: 10px;
            font-size: 12px;
        }

        #modalViewPhoto .pp-left-col .bottom .title {
            font-size: 14px;
            font-weight: bold;
        }

        #modalViewPhoto .pp-left-col .bottom .create-by {
            font-size: 12px;
        }

        #modalViewPhoto .pp-left-col .bottom .bottom-content .icon {
            font-size: 18px;
            margin-right: 10px;
        }

.content-edit-name {
    position: relative;
    padding-bottom: 100px;
}

    .content-edit-name .top-create {
        width: 100%;
        background-color: #0abbb5;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 5px 5px 0 0;
    }

        .content-edit-name .top-create a {
            display: block;
            float: left;
            width: 20%;
            font-size: 18px;
        }

            .content-edit-name .top-create a:first-child {
                text-align: left;
                padding-left: 15px;
            }

            .content-edit-name .top-create a:last-child {
                text-align: right;
                padding-right: 15px;
            }

        .content-edit-name .top-create .title {
            font-size: 22px;
            color: #fff;
            width: 60%;
        }

    .content-edit-name form .form-group {
        margin-bottom: 0;
    }

        .content-edit-name form .form-group input {
            height: 50px;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid #bbbbbb;
        }



.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

    .modal-open[style] {
        padding-right: 0px !important;
    }
/*#Dialog#*/
