<div class="left-column">
    <div class="content">
        <div class="function-list">
            <div class="list-item">
                <div class="item-main">
                    <button class="title">Public</button>
                    <ul>
                        <li class="line" ng-repeat="loop in loopCategories" ng-click="getLoopOfCategories(loop.categoryId)">
                            <a>
                                <span class="icon"><i class="icon-x1-play"></i></span>
                                <span class="name">{{loop.name}}</span>
                                <!--<span class="count">1</span>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-main">
                    <button class="title" ng-click="getPrivateLoopOfCategories()">Private</button>
                </div>
                <div class="item-main">
                    <button class="title">Create new Loop</button>
                </div>

            </div>
        </div>
    </div>
</div>
