
<div class="card-main ">
    <div class="list-card-media">
        <div class="row gutter-half-15">
            <div class="col-xs-4">
                <div class="card-sub create-album" data-toggle="modal" data-target="#modalCreateAlbum">
                    <i class="fa fa-plus"></i>
                    <div class="label">
                        Create Album
                    </div>
                </div>
            </div>
            <div class="col-xs-4" ng-repeat="album in albums">
                <div class="card-sub">
                    <img class="img" src="{{album.avatarUrl}}">
                    </img>
                    <div class="title">Street style lovers</div>
                    <div class="description clearfix">
                        <div class="pull-left totlal-likes">
                            <span class="icon"><i class="fa fa-heart"></i></span>
                            <span>135 likes</span>
                        </div>
                        <div class="pull-right total-comments">
                            <span class="icon"><i class="fa fa-comments"></i></span>
                            <span>6 Replies</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalCreateAlbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="content-create-album">
                <div class="top-create">
                    <a href="#" data-dismiss="modal" aria-label="Close">Cancel</a>
                    <a href="#" class="title">Create album</a>
                    <a ng-click='createAlbumDone()'>Done</a>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Album title" class="form-control" ng-model='newAlbum.title'>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Album description" class="form-control" ng-model='newAlbum.description'>
                    </div>
                    <div class="form-preview"></div>
                    <div class="bottom">
                        <a class="btn btn-create" ng-click="gotoUpload()">
                            <i class="fa fa-upload"></i>
                            Upload album photos
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalCreateAlbumSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="content-create-album">
                <div class="top-create">
                    <a href="#" data-dismiss="modal" aria-label="Close">Cancel</a>
                    <a href="#" class="title">Create album</a>
                    <a ng-click="createAlbum()" >Done</a>
                </div>
                <div class="row no-gutters">
                    <div class="col-xs-4 pp-left-col">
                        <div class="content-description">
                            <div class="title">Street style lovers</div>
                            <input class="description" ng-model='newAlbum.description'>
                            </input>
                        </div>
                    </div>
                    <div class="col-xs-8 pp-right-col">
                        <div class="list-card-media">
                            <div class="row gutter-half-15">
                                <div class="col-xs-4">
                                    <div class="card-sub create-album" ngf-select ng-model="files" ngf-multiple="multiple">
                                        <i class="fa fa-plus"></i>
                                        <div class="label">
                                            Add more photo
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4" ng-repeat = 'photo in photos'>
                                    <div class="card-sub">
                                        <img class="img" ng-src="{{photo.imageUrl | trusted}}">
                                        </img>
                                        <input class="title" ng-model="photo.description"> </input>
                                    </div>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>